{% extends "AppInicio/padre.html" %}

{% block titulo %}
Resultados de Búsqueda
{% endblock %}

{% block contenido %}
  <div class="container">
    <h1 class="text-center mb-4">Resultados de Búsqueda</h1>
    <div class="row">
      {% if adopcion %}
        {% for adopcion in adopcion %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ adopcion.imagen.url }}" alt="{{ adopcion.nombre }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ adopcion.nombre }}</h5>
                <p class="card-text">{{ adopcion.animal_info }}</p>
                <ul class="list-unstyled">
                  <li><strong>Edad:</strong> {{ adopcion.edad }}</li>
                  <li><strong>Raza:</strong> {{ adopcion.raza }}</li>
                  <li><strong>Autor:</strong> {{ adopcion.autor }}</li>
                  <li><strong>Fecha de Publicación:</strong> {{ adopcion.fecha_creacion }}</li>
                </ul>
                <a href="{% url 'AppInicio:adopcion_detalle' adopcion_id=adopcion.id %}" class="btn btn-primary btn-block">Adoptar ahora</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No se encontraron resultados.</p>
        </div>
      {% endif %}
    </div>
  </div>
  <h2>{{ mensaje }}</h2>  
{% endblock %}

